
body { 
	font-family : Helvetica,Arial,sans-serif; 
}

table {
	border-collapse: collapse;
	border-radius: 25px;
}

thead { 
    background-color: #c5f7c7; 
    color: #707070;       
} 

tfoot{ 
    background-color: #ffde84; 
    color: #707070 
} 


.visits { 
	background-color: #ffde84; 
    color: #707070 
} 

.epv { 
	background-color: #f7e3ad; 
    color: #707070 
} 


.total{
	font-size:1.1em;


}

tr.total, tr.total td {
	border-top: 3px solid black;
	border-bottom: 0px; 
}

.oneweekago {
	font-size:0.9em;
	font-style:italic;
}

th, td { 
    padding: 5px 15px; 
    text-align: center; 
    border-bottom: 1px solid #ddd; 
    font-weight : normal 
} 

td:first-child {
	font-weight:bold;
	text-align:left;
}

td:nth-child(10) {
	font-weight:bold;
	font-size:1.1em;
}


td:nth-child(9){
	border-right: 3px solid orange;
	border-left: 3px solid orange;
	font-weight:bold;
	
}


td:nth-child(11){
	font-size:0.9em;
	font-style:italic;
}

.positive {
	color:#00994d;
}

.negative{
	color:#f08080;
}



.yesterday { 
	color: red 
} 

.month { 
	font-weight: bold  
} 